@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
	font-family: 'Outfit', sans-serif;
	background-color:hsl(212, 45%, 89%);
}

.container-box{
	width:93%;
	height:70%;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.box{
	background-color:#fff;
	width:230px;
	height:365px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	border-radius:12px;
	box-shadow:8px 15px 15px 1px rgb(0,0,0,0.1);
}
img{
	height:210px;
	position:absolute;
	left:4%;
	top:3%;
	border-radius:5px;
}

.text-box{
	position:absolute;
	left:4%;
	top:60%;
	width:210px;
	height:300px;
	text-align:center;
}

.headline{
	font-weight:700;
}

.text{
	font-weight:400;
	font-size:12px;
	color:#777;
}

@media only screen and (max-width:375px){
	body{background-color:hsl(212, 45%, 89%)
	;}
	.container-box{
		background-color:none;
		box-shadow:none;
	}
	.headline{
		text-align: center;
		vertical-align: middle;
	}
}